body, html { 
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Amatic SC', cursive;
}

.word-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background: #ffffff!important;
}
.word-holder {
  text-align: center;
 }
.word {
  font-family: 'Poiret One', cursive;
  color: #FFC94C!important;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.definition-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  height: 100vh;
  background: #FFC94C!important;
}
.definition-holder {
  text-align: center;
}

.img-listen {
  height: 50px;
}

.img-mic {
  height: 50px;
}

.img-mic-on {
  height: 48px;
}

.score-container {
  right: 0;
  position: absolute;
  z-index: 3;
  font-size: 3em;
  margin: 30px;
}


