* {
  font-family: 'Fjalla One', sans-serif;  
}

body, html { 
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.word-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}

.definition-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50vh;
 }

.img-talk {
  position: absolute;
  height: 50px;
  margin-top: 50px;
  z-index: 2;
}

.img-speak {
  position: absolute;
  height: 48px;
  margin-top: 50px;
}

.score-container {
  right: 0;
  position: absolute;
  z-index: 3;
  color: white;
  margin: 30px;
}


