body, html { 
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Poiret One', cursive;
}

.title-container {
  position: absolute;
  z-index: 3;
  font-size: 1.8em;
  margin: 30px;
}

.search-box {
  position: absolute;
  left: 0; 
  right: 0; 
  margin: 30px;
  margin-left: auto; 
  margin-right: auto; 
  width: 45vw;
}

.score-container {
  right: 0;
  position: absolute;
  z-index: 3;
  font-size: 1.8em;
  margin: 30px;
}

.word-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background: #ffffff;
  text-align: center;
  color: #FFC94C;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.definition-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  height: 100vh;
  background: #FFC94C;
  text-align: center;
  color: #ffffff;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.img-listen {
  height: 50px;
}

.img-mic {
  height: 50px;
}

.img-mic-on {
  height: 48px;
}

@media (max-width: 520px) {
  .page-top {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  .title-container { 
    position: relative;
    margin: 0;
    font-size: 1.3em;
  }
  .score-container {
    position: relative;
    margin: 0;
    font-size: 1.3em;
  }
  .word {
    font-size: 3em!important;
  }
  .definition {
    font-size: 3em!important;
  }
}

@media (max-height: 375px) {
  .page-top {
    position: absolute;
    width: 100%;
  }

  .title-container { 
    margin: 20px;
    font-size: 1.3em;
  }

  .score-container {
    margin: 20px;
    font-size: 1.3em;
  }

  .word {
    font-size: 3em!important;
  }

  .definition {
    font-size: 3em!important;
  }
}

@media (max-width: 1100px) {
  .search-box {
    margin-top: 10vh;
    width: 45vw;
  }
}
